$hLight: "HelveticaLight"
$hUltraLight: "HelveticaUltraLight"
$hBold: "HelveticaBold"
$letterOrange: rgba(226,158,51, 1)
$red: rgba(194, 76, 70, 1)
$yellow: rgba(219,182,78, 1)
$orange : rgba(193,99,50,1)
$turquoise: rgba(69,191,162,1)
$whiteDots: rgba(219,215,216,1)
$navColor: rgba(21,21,22,1)
$dots: rgba(63,62,63,1)
$navWidth: 60px
$navDotRadius: 4px
$mandalaWidth: 28px
$time: .3s

@mixin center
    position: relative
    display: block
    margin-right: auto
    margin-left: auto