@import 'styles'

.blanket
    position: absolute
    background-color: $navColor
    height: 100%
    width: 100%
    z-index: 10

nav
    position: relative
    height: 100%
    width: $navWidth
    box-sizing: border-box
    background-color: $navColor

    .container
        height: 50%
        position: relative
        top: 25%

    div
        width: 100%
        height: 20%
        box-sizing: border-box
        position: relative
        
        .side-text
            background-color: $navColor
            color: $whiteDots
            display: inline-block
            position: relative 
            left: $navWidth - 5
            z-index: 0
            width: auto
            height: auto
            white-space: nowrap
            top: $bodySize * 1.3 / 7
            font-family: $hThin
            font-size: $bodySize * 1.3
            padding: 3px 5px
            box-sizing: border-box
            overflow: hidden
            transition: .2s all ease-in-out 0s
            z-index: 5
            left: -200px


        
    img
        position: absolute
        display: block
        margin: auto
        cursor: pointer
        left: ($navWidth / 2)
        z-index: 20
        transition: all ($time * .5) ease-in-out .3s, transform $time ease-in-out .1s
            
        
    .currentNav
        top: 0
        height: $mandalaWidth
        width: $mandalaWidth
        left: ($navWidth / 2) - ($mandalaWidth / 2)


    .dormantNav
        top: $mandalaWidth / 2
        height: 0px
        width: 0px
svg
    z-index: 20
    cursor: pointer
    top: ($mandalaWidth / 2) - ($navDotRadius / 2) - 2
    height: $navDotRadius * 2
    width: $navDotRadius * 2
    position: absolute
    left: ($navWidth / 2) - ($navDotRadius)
    transition: all ($time * .5) ease-in-out .3s

    
    circle
        cy: $navDotRadius
        cx: $navDotRadius
        r: $navDotRadius
        fill: $dots
        transition: all .2s linear 0s
        
        &:hover
            fill: $whiteDots

    
.shrink
    height: 0
    width: 0

    left: 50%
    

    
        
        
        
        